<a href="https://colab.research.google.com/github/Jaynnef/Project---1-python-/blob/main/atividade_aula06_jaynnef.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://storage.googleapis.com/atividade-aula06-jaynnef/dados-brutos/dados_inconsistentes%20-%20dados_inconsistentes.csv.csv')
print(df)

                 nome  idade  salário        cargo  departamento
0         Maria Gomes   48.0      NaN          NaN           NaN
1          Paulo Lima    NaN      NaN      Gerente           NaN
2          João Gomes   49.0  1812.77   Estagiário  Desconhecido
3        Pedro Santos    NaN      NaN          NaN     Marketing
4       Mariana Silva   40.0      NaN          NaN     Operações
5         Paulo Silva    NaN  2595.51          NaN           NaN
6   Fernanda Ferreira    NaN     erro          NaN           NaN
7           Ana Gomes    NaN     erro          NaN  Desconhecido
8      Carlos Almeida   57.0  6923.55  Coordenador    Financeiro
9          João Souza   22.0      NaN          NaN        Vendas
10     Juliana Santos   32.0      NaN          NaN  Desconhecido
11       Paulo Mendes    NaN  4276.72          NaN           NaN
12      João Ferreira    NaN      NaN          NaN            TI
13       João Almeida   57.0     erro          NaN  Desconhecido
14        Maria Costa   51.0     erro          NaN       Compras
15      João Oliveira    NaN      NaN          NaN     Marketing
16          João Lima   34.0      NaN          NaN  Desconhecido
17          Ana Silva    NaN      NaN      Diretor            TI
18    Mariana Almeida    NaN      NaN      Gerente           NaN
19    Juliana Almeida    NaN      NaN          NaN            TI
20   Juliana Oliveira   60.0  3618.77     Analista            TI
21       Roberto Lima    NaN     erro          NaN        Vendas
22     Juliana Mendes   23.0     erro          NaN           NaN
23         Maria Lima    NaN      NaN          NaN           NaN
24         João Souza    NaN      NaN          NaN           NaN
25         João Souza    NaN  6537.49          NaN     Operações
26     Roberto Santos   34.0  6414.65    Consultar        Vendas
27         João Costa   47.0  3548.68    Consultor  Desconhecido
28      Mariana Silva   35.0      NaN          NaN           NaN
29     Paulo Oliveira   42.0  5544.54   Assistente        Vendas
30     Maria Ferreira   55.0     erro          NaN            TI
31          Ana Gomes    NaN     erro  Coordenador           NaN
32          Ana Costa    NaN     erro          NaN  Desconhecido
33     Fernanda Gomes    NaN     erro          NaN            TI
34    Fernanda Santos   26.0  6500.00    Coordenar            RH
35        Maria Souza   37.0  5217.46      Diretor     Marketing
36           Ana Lima    NaN      NaN          NaN  Desconhecido
37         Ana Mendes    NaN     erro          NaN           NaN
38      Roberto Silva    NaN      NaN          NaN       Compras
39   Mariana Ferreira    NaN      NaN          NaN            TI

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nome          40 non-null     object
 1   idade         18 non-null     float64
 2   salário       22 non-null     object
 3   cargo         12 non-null     object
 4   departamento  28 non-null     object
dtypes: float64(1), object(4)
memory usage: 1.7+ KB

In [5]:
# lista com as colunas
a = len(df)
i = 0
nome = list(df['nome'])
idade = list(df['idade'])
salario = list(df['salário'])
cargo = list(df['cargo'])
departamento = list(df['departamento'])
display(df)

                 nome  idade  salário        cargo  departamento
0         Maria Gomes   48.0      NaN          NaN           NaN
1          Paulo Lima    NaN      NaN      Gerente           NaN
2          João Gomes   49.0  1812.77   Estagiário  Desconhecido
3        Pedro Santos    NaN      NaN          NaN     Marketing
4       Mariana Silva   40.0      NaN          NaN     Operações
5         Paulo Silva    NaN  2595.51          NaN           NaN
6   Fernanda Ferreira    NaN     erro          NaN           NaN
7           Ana Gomes    NaN     erro          NaN  Desconhecido
8      Carlos Almeida   57.0  6923.55  Coordenador    Financeiro
9          João Souza   22.0      NaN          NaN        Vendas
10     Juliana Santos   32.0      NaN          NaN  Desconhecido
11       Paulo Mendes    NaN  4276.72          NaN           NaN
12      João Ferreira    NaN      NaN          NaN            TI
13       João Almeida   57.0     erro          NaN  Desconhecido
14        Maria Costa   51.0     erro          NaN       Compras
15      João Oliveira    NaN      NaN          NaN     Marketing
16          João Lima   34.0      NaN          NaN  Desconhecido
17          Ana Silva    NaN      NaN      Diretor            TI
18    Mariana Almeida    NaN      NaN      Gerente           NaN
19    Juliana Almeida    NaN      NaN          NaN            TI
20   Juliana Oliveira   60.0  3618.77     Analista            TI
21       Roberto Lima    NaN     erro          NaN        Vendas
22     Juliana Mendes   23.0     erro          NaN           NaN
23         Maria Lima    NaN      NaN          NaN           NaN
24         João Souza    NaN      NaN          NaN           NaN
25         João Souza    NaN  6537.49          NaN     Operações
26     Roberto Santos   34.0  6414.65    Consultar        Vendas
27         João Costa   47.0  3548.68    Consultor  Desconhecido
28      Mariana Silva   35.0      NaN          NaN           NaN
29     Paulo Oliveira   42.0  5544.54   Assistente        Vendas
30     Maria Ferreira   55.0     erro          NaN            TI
31          Ana Gomes    NaN     erro  Coordenador           NaN
32          Ana Costa    NaN     erro          NaN  Desconhecido
33     Fernanda Gomes    NaN     erro          NaN            TI
34    Fernanda Santos   26.0  6500.00    Coordenar            RH
35        Maria Souza   37.0  5217.46      Diretor     Marketing
36           Ana Lima    NaN      NaN          NaN  Desconhecido
37         Ana Mendes    NaN     erro          NaN           NaN
38      Roberto Silva    NaN      NaN          NaN       Compras
39   Mariana Ferreira    NaN      NaN          NaN            TI

In [12]:
a = len(df)
i = 0

# Atribuindo 0 aos valores nulos

for i in range(a):

  if type(nome[i]) == float:
    nome[i] = 0

  if idade[i] > 0:
    idade[i] = idade[i]
  else:
    idade[i] = 0

  if type(salario[i]) == float:
    salario[i] = 0

  if type(cargo[i]) == float:
    cargo[i] = 0

  if type(departamento[i]) == float:
    departamento[i] = 0

# idade, salario, cargo e departamento = NaN, salario = erro ou departamento = Desconhecido
while i < len(nome):
  if idade[i] != idade[i] or salario[i] != salario[i] or cargo[i] != cargo[i] or departamento[i] != departamento[i] or salario[i] == 'erro' or departamento[i] == 'Desconhecido':
    del df[i]
    i = 0
  else:
    i = i + 1

In [19]:
#dados tratados inserindo em nova lista
nome_nv = list()
idade_nv = list()
salario_nv = list()
cargo_nv = list()
departamento_nv = list()

for i in range(a):
  if nome[i] != 0 and idade[i] != 0 and salario[i] != 0 and cargo[i] != 0 and departamento[i] != 0:
    nome_nv.append(nome[i])
    idade_nv.append(idade[i])
    salario_nv.append(salario[i])
    cargo_nv.append(cargo[i])
    departamento_nv.append(departamento[i])

In [20]:
df = pd.DataFrame(index = range(len(nome_nv)), columns=['nome','idade','salario','cargo','departamento'])

df['nome'] = nome_nv
df['idade'] = idade_nv
df['salario'] = salario_nv
df['cargo'] = cargo_nv
df['departamento'] = departamento_nv

In [21]:
print(df)

               nome  idade  salario        cargo  departamento
0        João Gomes   49.0  1812.77   Estagiário  Desconhecido
1    Carlos Almeida   57.0  6923.55  Coordenador    Financeiro
2  Juliana Oliveira   60.0  3618.77     Analista            TI
3    Roberto Santos   34.0  6414.65    Consultar        Vendas
4        João Costa   47.0  3548.68    Consultor  Desconhecido
5    Paulo Oliveira   42.0  5544.54   Assistente        Vendas
6   Fernanda Santos   26.0  6500.00    Coordenar            RH
7       Maria Souza   37.0  5217.46      Diretor     Marketing

In [22]:
df.to_csv('tratados.csv',index=False)

In [24]:
'''
Exportação direto para o google cloud
'''
from google.colab import auth
auth.authenticate_user()
project_id = 'primal-timing-440117-g0'
!gcloud config set project {project_id}
from google.cloud import storage
client = storage.Client()
bucket_name = 'atividade-aula06-jaynnef'
bucket = client.bucket(bucket_name)
df.to_csv('tratados.csv',index=False)
from google.cloud import storage
destination_blob_name =  'dados-tratados/tratados.csv'
source_file_name = 'tratados.csv'
blob = bucket.blob(destination_blob_name)
blob.upload_from_filename(source_file_name)

Updated property [core/project].